<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer class="uk-section uk-section-small uk-text-center" th:fragment="footer">
		<hr class="uk-divider-icon">
		<p class="uk-text-small uk-text-center">
			Copyright 2018 by Feader - Theme Created By<a href="https://github.com/zzseba78/Kick-Off">
				KickOff</a> | Built with <a href="http://getuikit.com"
				title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span
				data-uk-icon="uikit"></span></a>
		</p>
	</footer>
</body>
</html>