<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<aside id="left-col" class="uk-light uk-visible@m"
		th:fragment="leftsidebar">
		<div class="left-logo uk-flex uk-flex-middle">
			<img class="custom-logo" src="dashboard-logo.png" alt="">
		</div>
		<div>
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
				<li class="uk-parent" th:each="category,iterStat : ${categories}">
					<a href="#" th:text="${category.name}"></a>
					<ul class="uk-nav-sub">
						<li th:each="feed : ${category.feeds}"><a th:text="${feed.title}"
							th:feed_id="${feed.id}"></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="bar-bottom">
			<ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5"
				data-uk-grid>
				<li><a href="#" class="uk-icon-link" data-uk-icon="icon: plus-circle"
					title="Add new feed" data-uk-tooltip></a></li>
			</ul>
		</div>
	</aside>
</body>
</html>