
<!-- CONTENT -->
<div data-uk-height-viewport="expand: true">
	<div class="uk-container uk-container-expand">
		<div>
			<ul class="uk-breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a th:feed_id="${entry.feed.id}"
					th:text="${entry.feed.title}"></a></li>
				<li><span th:text="${entry.title}"></span></li>
			</ul>
		</div>
		<article class="uk-article">
			<h1 th:text="${entry.title}" class="uk-article-title"></h1>
			<p th:text="@{'by ' + ${entry.author}}" class="uk-article-meta"></p>
			<hr>
			<div>
				<!-- CARDS -->
				<p th:text="${entry.description}"></p>
				<!-- /CARDS -->
			</div>
		</article>
	</div>
</div>
<!-- /CONTENT -->