<!DOCTYPE HTML>
<html>
<head>
<title>Feader - Yet Another Feed Reader</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
	rel="stylesheet" />
<link rel="stylesheet" href="/webjars/uikit/dist/css/uikit.min.css" />
<link rel="stylesheet"
	href="/webjars/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<link th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>
	<div class="uk-offcanvas-content">
		<!--HEADER-->
		<div th:replace="fragments/header :: header"></div>
		<!--/HEADER-->
		<!-- LEFT BAR -->
		<div th:replace="fragments/left sidebar :: leftsidebar"></div>
		<!-- /LEFT BAR -->
		<!-- CONTENT -->
		<div id="content">
			<div th:replace="fragments/content :: content"></div>
		</div>
		<!-- /CONTENT -->
		<!-- OFFCANVAS -->
		<div th:replace="fragments/offcanvas :: offcanvas"></div>
		<!-- /OFFCANVAS -->
	</div>

	<!-- JS FILES -->
	<script src="/webjars/jquery/dist/jquery.min.js"></script>
	<script src="/webjars/uikit/dist/js/uikit.min.js"></script>
	<script src="/webjars/uikit/dist/js/uikit-icons.min.js"></script>
	<script src="/webjars/chart.js/dist/Chart.min.js"></script>
	<script src="/js/chartScripts.js"></script>
	<script>
		/*<![CDATA[*/
		$("ul > li > ul > li > a").on("click", function() {
			$("#content").load("/feeds/" + $(this).attr('feed_id'));
		});
		/*]]>*/
	</script>
</body>
</html>